{
  "auth": {
    "username": "<browserstack username>",
    "access_key": "<browserstack access key>"
  },
  "browsers": [
    {
      "browser": "chrome",
      "os": "Windows 10",
      "versions": ["80", "81"]
    },
    {
      "browser": "chrome",
      "os": "OS X Catalina",
      "versions": ["80", "81"]
    },
    {
      "browser": "edge",
      "os": "Windows 10",
      "versions": ["80", "81"]
    },
    {
      "browser": "firefox",
      "os": "Windows 10",
      "versions": ["75"]
    }
  ],
  "run_settings": {
    "cypress_proj_dir": "./",
    "project_name": "FutureNHS",
    "build_name": "Platform 1.0",
    "parallels": 5,
    "npm_dependencies": {}
  },
  "connection_settings": {
    "local": true
  },
  "disable_usage_reporting": false
}
