Hi,

Welcome to FutureNHS Beta platform.

You can get access to your account by clicking the following link:

<a href="https://beta.future.nhs.uk{{ .RecoveryURL }}">
    https://beta.future.nhs.uk{{ .RecoveryURL }}
</a>
